{% include 'top.html' %}

<div class="content">
    <div class="container">
        <h1 class="title" align="center">New Menu Item</h1>

        <form class="newbooking pure-form pure-form-aligned" method="POST" action="{{url_for('new_menuitem')}}">
            <div class="pure-control-group">
                <label for="name">Name:</label>
                <input type="text" name="name" size="25" autofocus required>
            </div>
            <div class="pure-control-group">
                <label for="description">Description:</label>
                <textarea name="description" rows="5" cols="32"></textarea>
            </div>
            <div class="pure-control-group">
                <label for="categoryone">Category 1:</label>
                <input type="text" name="categoryone" size="25" required>
            </div>
            <div class="pure-control-group">
                <label for="categorytwo">Category 2:</label>
                <input type="text" name="categorytwo" size="25">
            </div>
            <div class="pure-control-group">
                <label for="categorythree">Category 3:</label>
                <input type="text" name="categorythree" size="25">
            </div>
            <div class="pure-control-group">
                <label for="coffeetype">Coffee Type:</label>
                <input type="text" name="coffeetype" size="25">
            </div>
            <div class="pure-control-group">
                <label for="milkkind">Milk Kind:</label>
                <input type="text" name="milkkind" size="25">
            </div>
            <div class="pure-control-group">
                <label for="price">Price:</label>
                <input type="text" name="price" size="25">
            </div>
            <button type="submit" class="flat">Add Menu Item</button>
        </form>
    </div>
</div>

{% include 'bottom.html' %}
